

Test the assumptions of your selected test.

Execute the selected test, or the alternative test (if you do not meet the assumptions)

Interpret your p-value and reject or fail to reject your null hypothesis 

Show a supporting visualization that helps display the result

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Data/insurance - insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

Q1. Do smokers have higher insurance charges than non-smokers?

Null Hypothesis: Smokers have the same insurance charges as non-smokers.

Alternative Hypothesis: Smokers have higher insurance charges than non-smokers.

The T-test test should be performed as we are evaluating numeric data (charges) across 2 samples. (smokers/non-smokers)

In [ ]:
# T-test

# No significant outliers
# Normality
# Equal Variance

Q2. Are men more likely to smoke than women?

Null Hypothesis: Men and women smoke at the same rate.

Alternative Hypothesis: Men are more likely to smoke than women.

The Chi-Squared test should be performed as we are evaluating categorical data (smoker/non-smoker) with 2 samples. (male/female)

In [ ]:
#Chi-Square Test

# There are two categorical variables (ordinal or nominal)
# The outcomes are independent

Q3. Do different regions have different charges, on average?

Null Hypothesis: Regions have the same charges on average.

Alternative Hypothesis: The regions DO have different charges, on average.

In [9]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

The ANOVA test should be performed as we are evaluating numerical data (charges) across 4 groups. (region)

In [ ]:
#one way ANOVA

# No significant outliers
# Equal variance
# Normality

#Tukey???